<div>
    <div class="row">
        <div class="col-8"><h2>Chateamos?</h2></div>
        <div class="col-4"><a href="/">volver</a></div>
    </div>
    <hr>
    <div>
        <input type="text" name="chatbox" id="chatbox">
    </div>
    <div>
        <ul id="messageLog">

        </ul>
    </div>
</div>

{{!-- configuración del socket con cdn --}}
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>

<script src="/chat.js"></script>
