
<div>
    <h1>Login de usuario</h1>
    <form id="cookieForm" action="/api/session/login" method="POST">
        <label>Email</label>
        <input name="email">
        <br />
        <label>pass</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
